iframe frameborder="0" height="380" scrolling="no" src="http://games.crossfit.com/games-widget" style=("border:1px solid #453536; max-width: 100%;") width="320"
  | If you can see this, your browser doesn't understand iframes. <a href="http://games.crossfit.com"
  | to the widget.
