$welcome-logo-width: 120px
$welcome-logo-height: 151px
$welcome-logo-width-xs: $welcome-logo-width/1.5
$welcome-logo-height-xs: $welcome-logo-height/1.5

.welcome-container
  padding:
    top: $grid-gutter-width/2
    bottom: $grid-gutter-width/2
  background:
    repeat: none
    size: cover
    position: center top
    image: asset-url('cover.jpg')
  min-height: 600px
  min-height: 100vh
  @media screen and (max-width: $screen-sm-max)
    background-position: 30% top

.welcome-logo
  display: block
  background:
    repeat: no-repeat
    size: auto
    position: center
    image: asset-url('logo-crossfit-redshell-white.svg')
  width: $welcome-logo-width
  height: $welcome-logo-height
  @media screen and (max-width: $screen-sm-max)
    width: $welcome-logo-width-xs
    height: $welcome-logo-height-xs


.welcome-content
  padding-top: $grid-gutter-width
  color: #fff
  @each $t in p, h1, h2, h3, h4, h5, h5
    #{$t}
      color: #fff
  hr
    border-top-color: #fff
    border-top-color: rgba(#fff, 0.2)

.welcome-content-block
  padding:
    top: $grid-gutter-width
    bottom: $grid-gutter-width

.welcome-map
  height: 500px

.welcome-contacts
  padding:
    top: $grid-gutter-width*3
    bottom: $grid-gutter-width*4
  color: #fff
  background-color: darken($c-red-dark, 30%)
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1)

.welcome-feature-image
  width: 200px
  height: 200px

.welcome-feature-image--bordered
  border: 1px solid rgba(#fff, 0.1)

.welcome-partner-logo
  width: 200px
  height: auto
  max-width: 100%
