- columns = [:id, :name, :phone, :email, :subject, :card_type, :cards_quantity, :created_at]

!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Новая заявка на сайте crossfitredshell.com
    %hr
    %table
      %thead
        %tr
          - columns.each do |c|
            %th= c
      %tbody
        %tr
          - columns.each do |c|
            %td
              - if c == :subject
                = t("activerecord.attributes.lead.subjects.#{@lead.subject}") if @lead.subject.present?
              - else
                = @lead.send(c)
