- if Rails.env.production? && !is_admin?
  javascript:
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter33039869 = new Ya.Metrika({
                    id:33039869,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  noscript
    div
      img alt="" src="https://mc.yandex.ru/watch/33039869" style="position:absolute; left:-9999px;"


#traffgui_vk
  a href="http://traffgui.ru/" title=("Соцфишинг - идентификация посетителей сайта")
    img alt=("SocFishing - сервис автоматизации маркетинга") src="http://traffgui.ru/img/tg.png" /
script src="http://traffgui.ru/inf.js?utg=25" type="text/javascript"


javascript:
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=syKHW4vjksJ76Ziw906Sr*6TN4nb*kjHJuoQ*dqT2yV7Nsm80rjxFdKlU9avXA3ICL3rWdrxQ87RlXJzTdNju3GRfLeY4yFZwDN87dspBsO/7OfyX9ZMWtP6*qUV1npLnEoiNrIFJ3gqzrL8VChZj*E8eLIofXrOICbjoCYw8Mc-';

script#dsq-count-scr async="" src="//crossfitredshell.disqus.com/count.js"

